<div class="fdx-o-grid__row fdx-o-grid__row--center fdx-o-grid__row--guttered-small">
    <div class="fdx-o-grid__item--12 fdx-o-grid__item--9@medium container-width">
        <div class="fdx-u-mb--8 fdx-u-align--center fdx-u-mt--8">
            <h1 class="fdx-u-font-size--h3">
                <br>
                Caculate SLRLogistics Shipping rates
            </h1>
        </div>
    </div>
</div>

<main>
    <!-- <h1>Calculate FedEx shipping rates</h1> -->

    <!-- <legend hidden="">Origin and destination address</legend> -->
    <div id="fromAddressField" class="fdx-o-grid__row fdx-o-grid__row--guttered-small">
        <div class="fdx-o-grid__item fdx-o-grid__item--12">
            <div class="floating-label">
                <div
                    class="fdx-c-form-group fdx-c-form-group--float-label floating-label-invalid fdx-c-form-group--is-invalid">
                    <span class="fdx-c-form-group__item"><input type="text" magrfloatinglabelinput=""
                            magrautocomplete="" magrlistinteractions="" aria-autocomplete="list"
                            aria-controls="e2eGoogleAddressSuggestionList" autocomplete="off" autocapitalize="off"
                            autocorrect="off" fxsharedsessioncamexclude="true"
                            class="fdx-u-pl--2 fdx-c-form-group__input ng-invalid ng-touched ng-dirty"
                            data-e2e-id="fromGoogleAddress" aria-required="true" aria-describedby="fromLocationMessages"
                            aria-label="From address, type in the full address your mailing from. Then use the drop down that appears to select the best address match, below. If you cannot use drop down.  Call 1 800 4 6 3 3 3 3 9."
                            aria-invalid="true" id="fromGoogleAddress" fdprocessedid="4i190v"><!----><label
                            class="fdx-c-form-group__label" for="fromGoogleAddress"> From
                            <!----></label></span>
                    <div class="fdx-c-form-group__loader"><!----></div><!---->
                    <div aria-live="polite"
                        class="fdx-c-form-group__message fdx-c-form-group__message--has-message fdx-u-font-size--super-small"
                        id="fromLocationMessages" role="alert" aria-atomic="true">
                        <div data-message="" class="fdx-c-form-group__message fdx-c-form-message--error"
                            date-e2e-id="fromAddressRequiredErrorMessage"><!----> Please enter
                            'From' address.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="toAddressField" class="fdx-o-grid__row fdx-o-grid__row--guttered-small">
        <div class="fdx-o-grid__item fdx-o-grid__item--12">
            <div class="floating-label">
                <div class="fdx-c-form-group fdx-c-form-group--float-label floating-label-invalid">
                    <span class="fdx-c-form-group__item"><input type="text" magrfloatinglabelinput=""
                            magrautocomplete="" magrlistinteractions="" aria-autocomplete="list"
                            aria-controls="e2eGoogleAddressSuggestionList" autocomplete="off" autocapitalize="off"
                            autocorrect="off" fxsharedsessioncamexclude="true"
                            class="fdx-u-pl--2 fdx-c-form-group__input ng-untouched ng-pristine ng-invalid"
                            data-e2e-id="toGoogleAddress" aria-required="true" aria-describedby="toLocationMessages"
                            aria-label="To address, type in the full address your mailing from. Then use the drop down that appears to select the best address match, below. If you cannot use drop down.  Call 1 800 4 6 3 3 3 3 9."
                            aria-invalid="true" id="toGoogleAddress" fdprocessedid="zudk3d"><!----><label
                            class="fdx-c-form-group__label" for="toGoogleAddress"> To
                            <!----></label>
                    </span>
                    <div class="fdx-c-form-group__loader"><!----></div><!---->
                    <div aria-live="polite"
                        class="fdx-c-form-group__message fdx-c-form-group__message--has-message fdx-u-font-size--super-small"
                        id="toLocationMessages" role="textbox" aria-atomic="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>