<main>
  <div class="image-wrapper">
    <div class="main-hero__heading">3PL Logistics Solutions</div>
    <div class="main-hero__sub-heading">
      Your complete supply chain management solution.
    </div>
    <a class="main-hero__action-button btn btn-light" href="#contact-us-section"
      >Contact us</a
    >
  </div>
</main>

<section class="overview-section">
  <h2 class="section-title">
    Our 3PL experts handle and optimise your end-to-end supply chain
  </h2>
  <p class="section-description">
    Amidst growing competition and rapidly changing market conditions, you need
    a lead logistics provider to manage your supply chain partners. Maersk’s 4PL
    logistics services take away the complexity of supply chain from your
    routine so that you can focus better on your core business.
  </p>
</section>

<section class="contact-us-section" id="contact-us-section">
  <div class="top-section">
    <h3 class="section-title">Contact us</h3>
    <p class="section-description">
      Talk to your Maersk Sales Representative to include 3PL services in your
      current or future bookings.
    </p>
  </div>

  <div class="card-container">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <div class="card-content">
          <h5 class="card-title">Chat online</h5>
          <p class="card-text">
            Register online to chat with a member of our support team and get
            immediate answers during official office hours.
          </p>
        </div>
        <button class="main-hero__action-button btn btn-dark">
          Chat online
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <div class="card-content">
          <h5 class="card-title">Sales enquiries</h5>
          <p class="card-text">
            Contact us and we will respond within the next two working days.
          </p>
        </div>
        <button class="main-hero__action-button btn btn-dark">Enquire</button>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <div class="card-content">
          <h5 class="card-title">Find your local office</h5>
          <input
            class="card-input"
            type="text"
            placeholder="Enter country/region name"
          />
        </div>

        <button class="main-hero__action-button btn btn-dark">Find</button>
      </div>
    </div>
  </div>
</section>
